doctype html
html
	head
		title
	body
		h3 for each
		- var obj1 = {name: 'gaofeng', age: '25'}
		- for (var i in obj1)
			p= obj1[i]
		h3 each
		- each value, key in obj1
			p #{key}: #{value}
		each value, key in obj1
			p #{key}: #{value}
		h3 遍历数组
		- var courses = ['a', 'b', 'c']
		each item in courses
			p=item
		h3 嵌套循环
		- var sections = [{id:1, items:['a', 'b']}, {id:2, items:['c', 'd']}]
		dl
			each section in sections
				dt= section.id
			each item in section.items
				dd=item
		h2 while 
		- var n=0
		ul 
			while n < 4
				li= n++