doctype html
head
	title
body
	h2 mixin

	mixin lesson
		p jade study
	+lesson

	mixin study(name, course)
		p #{name}
		ul.courses
			each course in courses
				li=course
	+study('tom',['jade', 'node'])

	mixin group(student)
		h4 #{student.name}
		+study(student.name, student.courses)

	+group({name: 'tom', courses: ['jade', 'node']})

	mixin team(slogon)
		h4 #{slogon}
		if block
			block
		else 
			p no team


	+team('slogon')
		p Good job!

	mixin attr(name)
		p(class!=attributes.class) #{name}

	+attr('attr')(class='magic')

	mixin attrs(name)
		p&attributes(attributes) #{name}

	+attrs('attrs')(class='magic2', id='attrid')

	mixin magic(name, ...items)
		ul(class='#{name}')
			each item in items
				li=item

	+magin('magic', 'node', 'jade', '..')